#Login {
    background-image: url("Images/bckd2.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    left: -5px;
    top:-5px;
    bottom:-5px;
    position: fixed;
    right: -5px;
    z-index: -2;
 }

 @import url('https://fonts.googleapis.com/css?family=Montserrat');

.title2 {
  font-family: "Montserrat";
  text-align: center;
  color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 8vh;
  margin-bottom: 10px;
  letter-spacing: 1px;
}

.log {
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
  background-size: cover;
  color: transparent;
  -moz-background-clip: text;
  -webkit-background-clip: text;
  text-transform: uppercase;
  font-size: 65px;
  line-height: .75;
  margin: 500px 0;
}

  #logData {
      margin-top: 150px;
  }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 62,5%;
}

.form_input {
  font-family: 'Roboto', sans-serif;
  color: #333;
  font-size: 1.2rem;
  margin-top: 5px;
  margin-left: 790px;
  padding: 1.5rem 2rem;
  padding-bottom: 10px;
  border-radius: 0.2rem;
  background-color: rgb(255, 255, 255);
  border: none;
  width: 15%;
  display: block;
  border-bottom: 0.3rem solid transparent;
  transition: all 0.3s;
}

.form_input:placeholder-shown + .form_label {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(-4rem);
  transform: translateY(-4rem);
}

.submit {
    border-radius: 4px;
    background-color: #304099;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-family: fantasy;
    padding: 16px;
    width: 120px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .submit {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .submit:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .submit:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .submit:hover:after {
    opacity: 1;
    right: 10px;
  }
  